@model IEnumerable<StoreSteam.Models.Item>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="clearfix">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="item">
                <img src="http://cdn.steamcommunity.com/economy/image/@Html.DisplayFor(modelItem => item.IconUrlLarge)/330x192">
                <p style="font-weight:bold;color:#@Html.DisplayFor(modelItem => item.Color)">
                    @Html.DisplayFor(modelItem => item.Name)
                </p>
            </div>
        </div>
    }
</div>